/* For roboto font used in clock  */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    background-color: rgb(238, 234, 227);
    margin:0;
    padding:0;
}
.pop-up{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:50vh;
    text-align: center;
    background-color: coral;
    border:5px solid black;
    font-size: x-large;
}
.pop-up button{
    font-size: x-large;
    margin:1vh 1vh;
    margin-bottom: 2vh;
}

.navbar{
    position:absolute;
    display: flex;
    width:100%;
    justify-content: center;
    text-align: center;
    background-color: darkgrey;
    padding:1vh 0;
}
.navbar button{
    margin:0 1rem;
    box-sizing: border-box;
    background-color: rgb(118, 136, 88);
    font-size:x-large;
}

.clock-wrapper{
    width:100%;
    height:100vh;
    background-color: rgb(238, 234, 227);
    display: flex;
    justify-content: center;
    align-items: center;
}
.clock{
    height:40vh;
    width:40vh;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size:xx-large;
    display: none;

}

.analog-clock{
    display: none;
    width:40vh;
    height:40vh;

}
.img-wrapper{
    height:0;

}
.analog-clock img{
    width:40vh;
    height:40vh;
    border-radius: 20rem;
}

.tail{
    background-color: black;
    transform-origin: center left;
}
.hour-tail{
    position: relative;
    top: 48%;
    left: 49.5%;
    width: 11vh; 
    height: 0.3rem;
}

.minute-tail{
    position: relative;
    top: 46.5%;
    left: 49.5%;
    width:13vh;
    height: 0.2rem;
}

.second-tail{
    position: relative;
    width: 15vh;
    top: 46%;
    left: 50%;
    height: 0.09rem;
}